<!DOCTYPE html>
<html>
<head>
	<title>About Media Fellows</title>  
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class = "body">
	<div class = "container">
		<div class="leftColumn">
			<div class = "requirementsHead">
				<br>
				<h1> The Four-Year <br> Plan </h1> 
			</div>
			<div class = "requirementsDescription">
				<p>The Media Fellows Program is a four-year plan designed to complement your academic development at DePauw University.</p>
			</div>
			<div class = "requirementsFirst">
				<div class = "firstIcon">
					<h1><%= image_tag "1icon.png", :width => "180px", :height => "auto", :class => "style_image" %></h1>
				</div>
				<div class = "firstYear">
					<h1> FIRST YEAR </h1>
					<p> The first-year seminar lays a philosophical base for media study and <strong>an introduction to media</strong> in their various forms (print, radio, TV, advertising, public relations, etc.).</p>
				</div>
			</div>

			<div class = "requirementsSecond">
				<div class = "secondYear">
					<h1> SOPHOMORE YEAR </h1>
					<p> Throughout the sophomore year, Media Fellows attend a <strong>luncheon discussion series with faculty members and professionals</strong> while taking courses that complement their study of the media. </p>
				</div>
				<div class = "secondIcon">
					<h1><%= image_tag "2icon.png", :width => "180px", :height => "auto", :class => "style_image" %></h1>
				</div>	
			</div>

			<div class = "requirementsFirst">
				<div class = "firstIcon">
					<h1><%= image_tag "3icon.png", :width => "180px", :height => "auto", :class => "style_image" %></h1>
				</div>
				<div class = "firstYear">
					<h1> JUNIOR YEAR </h1>
					<p> During the junior year, Media Fellows take part in a <strong>semester-long, full-credit professional internship</strong> in a media setting such as a newspaper, entertainment program or public relations office.</p>
				</div>
			</div>

			<div class = "requirementsSecond">
				<div class = "fourthYear">
					<h1> SENIOR YEAR </h1>
					<p> Finally, in the senior year, Media Fellows take part in a<strong> capstone seminar</strong> that offers an opportunity for in-depth research, completing the Media Fellows experience — and leading to the next. </p>
				</div>
				<div class = "secondIcon">
					<h1><%= image_tag "4icon.png", :width => "180px", :height => "auto", :class => "style_image" %></h1>
				</div>	
			</div>
			<div class = "requirementsClose"></div>

		</div>
		<div class = "rightColumn">
			<div class = "requirementsHead1">
				<br>
				<h1> Additional <br> Components </h1> 
			</div>
			<div class = "requirementsFirst1">
				<div class = "firstYear1">
					<h1> MEDIA INVOLVEMENT </h1>
					<p> Throughout their four years at DePauw, Media Fellows spend at least four semesters of work in one of the student media.</p>
				</div>
			</div>
			<div class = "speakerCredit">
				<div class = "creditContent">
					<h1> SPEAKER CREDIT </h1>
					<p> Each semester, Media Fellows attend special lectures, luncheons, and seminars sponsored by the Media Fellows program and the Pulliam Center for Contemporary Media.</p>
				</div>
			</div>
			<div class = "mediaCourses">
				<div class = "firstYear1">
					<h1> MEDIA COURSES </h1>
					<p> Media Fellows also choose two full-credit media-related courses — one emphasizing the process side of media, the other analytical (see below) — to complete by their senior year, and an independent reading course while on their media internship.</p>
				</div>
				<div class = "courses">
					<h1>PROCESS COURSES</h1>
					<p><strong>ARTS 160</strong> – Introduction to Digital Art<br>
						<strong>ARTS 163, 263. 363</strong> – Photography I, II, III<br>
						<strong>ARTS 165, 265, 365</strong> – Video Art I, II, III<br>
						<strong>COMM 235</strong> – Electronic Journalism<br>
						<strong>COMM 236</strong> – Television Production and Televisual Literacy<br>
						<strong>COMM 319</strong> – Writing for Stage, Screen, and TV<br>
						<strong>ENG 201</strong> – Creative Writing<br>
						<strong>ENG 232</strong> – News Writing<br>
						<strong>ENG 321, 322</strong> – Non- Fiction Writing I, II<br>
						<strong>ENG 331, 332</strong> – Advanced Reporting I, II<br>
						<strong>ENG 342</strong> – Screenwriting</p>

						<h1>ANALYTICAL COURSES</h1>
						<p><strong>ARTH 142</strong> – Visual Encounters<br>
							<strong>ARTH 250/FILM 211</strong> - Documentary Film<br>
							<strong>ASIA 250</strong> – China on Screen<br>
							<strong>COMM 233</strong> – Media, Culture and Soc.<br>
							<strong>COMM 237/FILM 200</strong> – Film and Culture<br>
							<strong>COMM 334</strong> – Media Criticism<br>
							<strong>COMM 335</strong> – Media Law<br>
							<strong>COMM 337</strong> – International Media<br>
							<strong>ENG 167/FILM 100</strong> – Intro to Film<br>
							<strong>ENG 255</strong> – Topics in Literary Studies<br>
							<strong>FILM 220</strong> – Topics in Film Studies<br>
							<strong>FILM 241</strong> – Topics in Film Cultures and Traditions<br>
							<strong>FILM 310</strong> – Film Theory (COMM 401, ENG 395)<br>
							<strong>FILM 311</strong> – Topics in Gender, Sexuality, and Film<br>
							<strong>REL 275</strong> – Religion and Film<br>
							<strong>SOC 220</strong> – Sociology of Hip-Hop<br>
							<strong>SOC 340</strong> – Sociology of Popular Culture</p>
						</div>
					</div>

				</div>

			</div>
		</body>
		</html>