<!DOCTYPE html>
<html>
<head>
	<title>About Media Fellows</title>  
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class = "body">

	<div class = "requirementsHead">
		<br>
		<h1> The Four-Year <br> Plan </h1> 
	</div>
	<div class = "requirementsDescription">
		<p>The Media Fellows Program is a four-year plan designed to complement your academic development at DePauw University.</p>
	</div>
	<div class = "requirementsFirst">
		<div class = "firstIcon">
			<h1><%= image_tag "1icon.png", :width => "200px", :height => "auto", :class => "style_image" %></h1>
		</div>
		<div class = "firstYear">
			<h1> FIRST YEAR </h1>
			<p> The first-year seminar lays a philosophical base for media study and <strong>an introduction to media</strong> in their various forms (print, radio, TV, advertising, public relations, etc.).</p>
		</div>
	</div>

	<div class = "requirementsSecond">
		<div class = "secondYear">
			<h1> SOPHOMORE YEAR </h1>
			<p> Throughout the sophomore year, Media Fellows attend a <strong>luncheon discussion series with faculty members and professionals</strong> while taking courses that complement their study of the media. </p>
		</div>
		<div class = "secondIcon">
			<h1><%= image_tag "2icon.png", :width => "200px", :height => "auto", :class => "style_image" %></h1>
		</div>	
	</div>

	<div class = "requirementsFirst">
		<div class = "firstIcon">
			<h1><%= image_tag "3icon.png", :width => "200px", :height => "auto", :class => "style_image" %></h1>
		</div>
		<div class = "firstYear">
			<h1> JUNIOR YEAR </h1>
			<p> During the junior year, Media Fellows take part in a <strong>semester-long, full-credit professional internship</strong> in a media setting such as a newspaper, entertainment program or public relations office.</p>
		</div>
	</div>

	<div class = "requirementsSecond">
		<div class = "fourthYear">
			<h1> SENIOR YEAR </h1>
			<p> Finally, in the senior year, Media Fellows take part in a<strong> capstone seminar</strong> that offers an opportunity for in-depth research, completing the Media Fellows experience — and leading to the next. </p>
		</div>
		<div class = "secondIcon">
			<h1><%= image_tag "4icon.png", :width => "200px", :height => "auto", :class => "style_image" %></h1>
		</div>	
	</div>
	<div class = "requirementsClose"></div>

</body>
</html>