<!DOCTYPE html>
<html>
	<head>
    	<title>MediaSeminar</title>
    		<meta charset="utf-8">
      		<meta name="viewport" content="width=device-width, initial-scale=1">
      		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	
  	</head>
  	 <body class = "body">
  	 	<div class = "calStyles">
  	 		<iframe src="https://calendar.google.com/calendar/embed?src=depauw.edu_jopjs7ge988ihoeu4uj0mi5fs8%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="1100" height="600" frameborder="0" scrolling="no" align="middle"></iframe>
  	 	</div>

			<p> Use heroku database to create a form where students can sign into an event and then create a view from the database showing how many events each student has attended</p>
  </body>
</html>