<!DOCTYPE html>
<html>
<head>
	<title>MediaSeminar</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body class = "showForm">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-8">
				<h1>Editing Schedule</h1>
			</div>
		</div>

		<div class = "row">
			<div class = "col-md-4">
				<%= render 'form', schedule: @schedule %>
			</div>
		</div>

		<div class = "row">
			<div class = "col-md-4">

				<%= link_to 'Show', @schedule %> |
				<%= link_to 'Back', schedules_path %>
			</div>
		</div>
	</div>
</body>
</html>
