<!DOCTYPE html>
<html>
<head>
  <title>MediaSeminar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class = "speakerBody">
  <div class = "container">
    <div class = "headLog">
      <div class = "row">
        <div class = "col-md-12">
          <h1>Speaker Series</h1>

          <%=link_to new_schedule_path, class: 'btn btn-sample btn-large' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Log Attedence at Speaker Credit

          <%end%>
        </div>
      </div>
    </div>
    <hr>
    <div class = "row">
      <div class = "col-md-12">
        <div class = "calStyles">
          <iframe src="https://calendar.google.com/calendar/embed?src=depauw.edu_jopjs7ge988ihoeu4uj0mi5fs8%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="1100" height="600" frameborder="0" scrolling="no" align="middle"></iframe>
        </div>
      </div>
    </div>
    <hr>

    <div class = "row">
      <div class = "col-md-12">

        <div class = "headLog2">
          <h2>Speaker Credit</h2>
        </div>
        <div class="tableStyle">
          <table class="table">
            <thead>
              <tr>
                <th class="tableHead">[Student ID, Events Attended]</th>
              </tr>
            </thead>

            <tbody>
              <% @schedules.each do |schedule| %>
              <tr>
                <td><%=schedule%></td>


              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>

      <br>

    </div>
  </body>
  </html>
