<!DOCTYPE html>
<html>
  <head>
      <title>MediaSeminar</title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
 </head>

 <body>
 	<div class = "logingShow">

<h1>Log Speaker Credit Attendence</h1>

<%= render 'form', schedule: @schedule %>

<%= link_to 'Back', schedules_path %>
</div>

</body>
</html>