<!DOCTYPE html>
<html>
<head>
	<title>About Media Fellows</title>  
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      height: 20%;
      margin: auto;
  }
  </style> 
</head>

<body class = "body">
<h1 class="homeHead">The Media Fellows Program </h1>
<h3 class="homeHead2"> Shaping the people who shape the conversation</h3>

<p class="homePara">Combining classes with hands-on experience, the Media Fellows Program trains students in the theory and practice of media. Media Fellows benefit from semester-long, off-campus media internships, a robust speaker series that brings students face-to-face with professionals from premier media and governmental organizations, and the Pulliam Center for Contemprary Media - a living laboratory where students gain expereince in radio and television production, newspaper and magazine publishing, and multimedia for the web.</p>


<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Yr4t_2MGcqI" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <br>
        <div class="carousel-caption">
            <p><strong>Victoria Houghtalen: </strong> Ohio Together Campaign, Granville Ohio.</p>
        </div>
      </div>
  

      <div class="item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pSwnGI3cTrc" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <br>
        <div class="carousel-caption">
        		<p><strong>Sam Caravana: </strong> Big Sky Productions, Capetown South Africa.</p>
      	</div>
      </div>
    
      <div class="item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jq-momUflIA" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <br>
        <div class="carousel-caption">
        		<p><strong>Robert Sherman: </strong> KPRC 2, Houston Texas.</p>
      	</div>
      </div>

      <div class="item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/s7SehhmpStk" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <br>
        <div class="carousel-caption">
        		<p><strong>Julia Waggoner: </strong> Upbeat Productions, London England</p>
      	</div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="infographic">
  <p> <%= image_tag "MEFEGlance.png", :width => "100%", :height => "auto" %></p>
</div>

<div class="bottomText">
  <div class = "floatTextR">
<h2 class="homeHead3"> CONTACT ME </h2>
<p class="contactInfo">If you have any questions about the program please reach out or stop by the Pulliam Center to talk in person!</p>

<p class="floatImgR"><%= image_tag "jnp-mud-lotus.jpg", :width => "150px", :height => "auto" %></p>
  <div class="floatTxtR">
    <h4>Jonathan Nichols-Pethick</h4>
    <p>Director of the Media Fellows<br> Program and the Eugene S.<br> Pulliam Center for <br>Contemporary Media (PCCM) at<br> DePauw University.</p>
  </div>
<p class="floatImgR"><%= image_tag "culler2016mefe.jpg", :width => "150px", :height => "auto" %></p>
  <div class="floatTxtR">
    <h4>Marilyn Culler</h4>
    <p>Assistant director of the  <br>Media Fellows program  <br> at DePauw University. </p>
  </div>
    </div>

<form class="bottomForm">
	<div class="form-group">
    <label for="exampleName">Name</label>
    <input type="name" class="form-control" id="exampleName" placeholder="Name">
  </div>
  <div class="form-group">
      <label for="exampleInputEmail">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Message</label>
    <textarea class="form-control" id="exampleTextarea" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

</body>

</html>
