<!DOCTYPE html>
<html>
<head>
	<title>About Media Fellows</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    height: 20%;
    margin: auto;
  }
  </style> 
</head>


<body class = "body">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-12">
        <h1 class="homeHead">The Media Fellows Program </h1>
        <h3 class="homeHead2"> Shaping the people who shape the conversation</h3>

        <p class="homePara">Combining classes with hands-on experience, the Media Fellows Program trains students in the theory and practice of media. Media Fellows benefit from semester-long, off-campus media internships, a robust speaker series that brings students face-to-face with professionals from premier media and governmental organizations, and the Pulliam Center for Contemprary Media - a living laboratory where students gain expereince in radio and television production, newspaper and magazine publishing, and multimedia for the web.</p>
        <br>
      </div>
    </div>



    <div class = "row">
      <div class = "col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Yr4t_2MGcqI" frameborder="0" allowfullscreen></iframe>
              <br>
              <br>
              <br>
              <br>
              <div class="carousel-caption">
                <p><strong>Victoria Houghtalen: </strong> Ohio Together Campaign, Granville Ohio.</p>
              </div>
            </div>


            <div class="item">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/pSwnGI3cTrc" frameborder="0" allowfullscreen></iframe>
              <br>
              <br>
              <br>
              <br>
              <div class="carousel-caption">
                <p><strong>Sam Caravana: </strong> Big Sky Productions, Capetown South Africa.</p>
              </div>
            </div>

            <div class="item">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/jq-momUflIA" frameborder="0" allowfullscreen></iframe>
              <br>
              <br>
              <br>
              <br>
              <div class="carousel-caption">
                <p><strong>Robert Sherman: </strong> KPRC 2, Houston Texas.</p>
              </div>
            </div>

            <div class="item">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/s7SehhmpStk" frameborder="0" allowfullscreen></iframe>
              <br>
              <br>
              <br>
              <br>
              <div class="carousel-caption">
                <p><strong>Julia Waggoner: </strong> Upbeat Productions, London England</p>
              </div>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>



    <div class = "row">
      <div class = "col-md-12">

        <div class="infographic">

          <img src="/assets/MEFEGlance.png" class="img-responsive">
        </div>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-12">
        <div class="bottomText3">
         <h2 class="homeHead3"> CONTACT US </h2>
         <p class="contactInfo">If you have any questions about the program please reach out or stop by the Pulliam Center to talk in person!</p>
       </div>
     </div>
   </div>

   <div class = "row"> 
    <div class = "col-md-4">
      <div class = "bottomText">
        <p class="floatImgR"><%= image_tag "jnp-mud-lotus.jpg", :width => "150px", :height => "auto" %></p>
        <div class="floatTxtR">
          <h4>Jonathan Nichols-Pethick</h4>
          <p>Director of the Media Fellows<br> Program and the Eugene S.<br> Pulliam Center for <br>Contemporary Media (PCCM) at<br> DePauw University.</p>
        </div>
      </div>
    </div>

    <div class = "col-md-4">
      <div class = "bottomText">
        <p class="floatImgR"><%= image_tag "culler2016mefe.jpg", :width => "150px", :height => "auto" %></p>
        <div class="floatTxtR">
          <h4>Marilyn Culler</h4>
          <p>Assistant director of the  <br>Media Fellows program  <br> at DePauw University. </p>
        </div>
      </div>
    </div>

    <div class = "col-md-4">
      <div class = "bottomText2">
        <form action="mailto:mculler@depauw.edu" method="post" enctype="text/plain"class="bottomForm">
          Name:<br>
          <input type="text" name="name" class="form-control" placeholder="Your Name">
          Email Address:<br>
          <input type="text" name="mail" class="form-control" placeholder="Your Email">
          Message:<br>
          <textarea type="text" name="message" class="form-control" rows="5"></textarea><br>
          <input type="submit" value="Send" class="btn btn-primary">
          <input type="reset" value="Reset" class="btn btn-secondary">
        </form>
      </div>
    </div>
  </div>
</div>

</body>

</html>
