// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
	background-color: #000000;
}

.homeHead{
	margin-top: -1em;
	color: white;
	font-family: "Avenir";
}

.homeHead2{
	font-style: italic;
	margin-top: -.30em;
	text-indent: 30px;
	font-size: 20px;
	color: white;
	font-family: "Avenir";
}
.homeHead3{
	margin-top: 1em;
	font-family: "Avenir";
}

.homePara{
	padding: 1em;
	font-size: 18px;
	color: white;
	border-radius: 15px;
	font-family: "Avenir";
}

.carousel{
	margin-left: -3%;
	margin-bottom: 3em;
}

img{
	margin-left: 27%;
}

.carousel-caption{
	padding: 0;
	margin-bottom: -50px;

}

.infographic{
	padding: 7em;
	background-color: #FFFFF1;
	margin-right: -5em;
	margin-left: -5em;
}

.bottomForm{
	background-color: #FFC300;
	padding: 7em;
	margin-right: -5em;
	margin-left: -5em;
}
.form-inline{
	padding-top: .70em;
	padding-bottom: 2em;
	margin-left: 30px;

}