// Place all the styles related to the Internships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
	background-color: #000000;
}

.calStyles{
	align: right;
}

.InternshipHead{
	margin-top: -1em;
	color: #ffffff;
	font-family: "Avenir";
}
.InternshipDes{
	padding: 1em;
	font-size: 18px;
	color: white;
	border-radius: 15px;
	font-family: "Avenir";
}

.InternshipNote{
	padding: 1em;
	font-size: 12px;
	color: white;
	border-radius: 15px;
	font-family: "Avenir";
}

.headView{
	float: right;
	margin-left: 2em;
	margin-right: 7em;
}
.imageView{
	float: left;
	margin-left: .5em;
} 

.bodyView{
	margin-top: 170px;
}

.carouselImage1{
	float: right;
	margin-right: 6.5em;
	margin-left: 4em;

}
.carouselImage2{
	float: right;
	margin-left: 4em;

}
.carouselImage3{
	float: right;


}