// Place all the styles related to the Internships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
	background-color: #000000;
}

.calStyles{
	align: right;
}

.headView{
	float: right;
	margin-left: 2em;
	margin-right: 7em;
}
.imageView{
	float: left;
	margin-left: .5em;
} 

.bodyView{
	margin-top: 170px;
}

.carouselImage1{
	float: right;
	margin-right: 6.5em;
	margin-left: 4em;

}
.carouselImage2{
	float: right;
	margin-left: 4em;

}
.carouselImage3{
	float: right;


}