// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.speakerBody{
	background-color: #000000;
}

.calStyles{
	margin-left: -25em;
	margin-right: 25 em;
	margin-top: 1em;
}

.headLog{
	margin-top: -5em;
	color: #ffffff;
	font-family: "Avenir";
}

.btn-sample { 
  color: #000000; 
  background-color: #FFCF01; 
  border-color: #FFCF01; 
  margin-left: 4em;
  height: 40px;
  font-size: 50px;
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #000000; 
  background-color: #FFCF14; 
  border-color: #FFCF01; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #FFCF01; 
  border-color: #FFCF01; 
} 
 
.btn-sample .badge { 
  color: #000000
  ; 
  background-color:#FFCF01; 
}

.logingShow{
	margin-top: -5em;
  margin-left: 25%;
	margin-bottom: 2em;
  background-color: #000000;
  padding-top: .5em;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 1em;
  margin-right: 20em;
  border: solid;
  color: #ffffff;
}

.logingShow h1{
  font-size: 24px;
}


.tableStyle{

	background-color: #ffffff; 
  width: 45%;

  display: block;
  height: 400px;
  overflow-y: scroll;

  font-size: 12px;
  font-family: "Avenir";
  margin-left: 5%;
  padding-left: 3em;
  padding-right: 3em;
  border: 7px solid #FFCF01;

}
.tableHead{
  color: #FFCF01;
  font-size: 20px;
  text-align: center;
}
.tableStyle td{
  font-size: 20px;
  text-align: center;
}

.headLog2{
  margin-top: 0;
  color: #ffffff;
  font-family: "Avenir";
} 

.signInForm{
  background-color: #000000;
  color: #ffffff;
  margin-top: 2em;
}

